<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <style type="text/css">
      html { height: 100% }
      body { height: 100%; margin: 0; padding: 0 }
      #map-canvas { height: 100% }
    </style>
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBF0LJsCGPbR2h2KxgUip5Mh-ZGDLF35Sg&sensor=false">
    </script>
    <script type="text/javascript">
      function initialize() {
        var mapOptions = {
          center: new google.maps.LatLng(39.1044, -84.5077),
          zoom: 15,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        var map = new google.maps.Map(document.getElementById("map-canvas"),
            mapOptions);

          var myLatLng = new google.maps.LatLng(39.1031182, -84.5120196);
          var marker = new google.maps.Marker({ position: myLatLng, title: "Service complaint trash" });
          marker.setMap(map);
          var myLatLng = new google.maps.LatLng(39.175551, -84.477502); var marker = new google.maps.Marker({ position: myLatLng, title: "Service complaint trash" }); marker.setMap(map);

var myLatLng = new google.maps.LatLng(39.132335, -84.480206); var marker = new google.maps.Marker({ position: myLatLng, title: "Service complaint trash" }); marker.setMap(map);

var myLatLng = new google.maps.LatLng(39.138014, -84.509801); var marker = new google.maps.Marker({ position: myLatLng, title: "Trash no trash at location" }); marker.setMap(map);

var myLatLng = new google.maps.LatLng(39.142, -84.4739139); var marker = new google.maps.Marker({ position: myLatLng, title: "Service complaint trash" }); marker.setMap(map);

var myLatLng = new google.maps.LatLng(39.152, -84.383031); var marker = new google.maps.Marker({ position: myLatLng, title: "Service complaint trash" }); marker.setMap(map);

var myLatLng = new google.maps.LatLng(39.1391909, -84.442117); var marker = new google.maps.Marker({ position: myLatLng, title: "Service complaint trash" }); marker.setMap(map);

var myLatLng = new google.maps.LatLng(39.143113, -84.475941); var marker = new google.maps.Marker({ position: myLatLng, title: "Service complaint trash" }); marker.setMap(map);

var myLatLng = new google.maps.LatLng(39.111738, -84.597328); var marker = new google.maps.Marker({ position: myLatLng, title: "Service complaint trash" }); marker.setMap(map);

var myLatLng = new google.maps.LatLng(39.171531, -84.546671); var marker = new google.maps.Marker({ position: myLatLng, title: "Service complaint trash" }); marker.setMap(map);

var myLatLng = new google.maps.LatLng(39.113437, -84.5500069); var marker = new google.maps.Marker({ position: myLatLng, title: "Service complaint trash" }); marker.setMap(map);

var myLatLng = new google.maps.LatLng(39.136288, -84.53553); var marker = new google.maps.Marker({ position: myLatLng, title: "Service complaint trash" }); marker.setMap(map);

var myLatLng = new google.maps.LatLng(39.2094949, -84.468451); var marker = new google.maps.Marker({ position: myLatLng, title: "Service complaint trash" }); marker.setMap(map);

var myLatLng = new google.maps.LatLng(39.174988, -84.462769); var marker = new google.maps.Marker({ position: myLatLng, title: "Service complaint trash" }); marker.setMap(map);

var myLatLng = new google.maps.LatLng(39.143309, -84.606518); var marker = new google.maps.Marker({ position: myLatLng, title: "Service complaint trash" }); marker.setMap(map);

var myLatLng = new google.maps.LatLng(39.105759, -84.5962046); var marker = new google.maps.Marker({ position: myLatLng, title: "Service complaint trash" }); marker.setMap(map);

var myLatLng = new google.maps.LatLng(39.1226322, -84.6035225); var marker = new google.maps.Marker({ position: myLatLng, title: "Service complaint trash" }); marker.setMap(map);

var myLatLng = new google.maps.LatLng(39.194616, -84.538646); var marker = new google.maps.Marker({ position: myLatLng, title: "Service complaint trash" }); marker.setMap(map);

var myLatLng = new google.maps.LatLng(39.154342, -84.395903); var marker = new google.maps.Marker({ position: myLatLng, title: "Service complaint trash" }); marker.setMap(map);

var myLatLng = new google.maps.LatLng(39.093925, -84.393633); var marker = new google.maps.Marker({ position: myLatLng, title: "Service complaint trash" }); marker.setMap(map);

var myLatLng = new google.maps.LatLng(39.189238, -84.45731); var marker = new google.maps.Marker({ position: myLatLng, title: "Service complaint trash" }); marker.setMap(map);

var myLatLng = new google.maps.LatLng(39.125915, -84.425951); var marker = new google.maps.Marker({ position: myLatLng, title: "Service complaint trash" }); marker.setMap(map);

var myLatLng = new google.maps.LatLng(39.178635, -84.438633); var marker = new google.maps.Marker({ position: myLatLng, title: "Service complaint trash" }); marker.setMap(map);

var myLatLng = new google.maps.LatLng(39.150343, -84.491845); var marker = new google.maps.Marker({ position: myLatLng, title: "Service complaint trash" }); marker.setMap(map);

var myLatLng = new google.maps.LatLng(39.116683, -84.442592); var marker = new google.maps.Marker({ position: myLatLng, title: "Service complaint trash" }); marker.setMap(map);

var myLatLng = new google.maps.LatLng(39.131532, -84.474919); var marker = new google.maps.Marker({ position: myLatLng, title: "Trash no trash at location" }); marker.setMap(map);

var myLatLng = new google.maps.LatLng(39.123712, -84.598382); var marker = new google.maps.Marker({ position: myLatLng, title: "Service complaint trash" }); marker.setMap(map);

var myLatLng = new google.maps.LatLng(39.109803, -84.574102); var marker = new google.maps.Marker({ position: myLatLng, title: "Service complaint trash" }); marker.setMap(map);

var myLatLng = new google.maps.LatLng(39.125353, -84.485278); var marker = new google.maps.Marker({ position: myLatLng, title: "Service complaint trash" }); marker.setMap(map);

var myLatLng = new google.maps.LatLng(39.113807, -84.602016); var marker = new google.maps.Marker({ position: myLatLng, title: "Service complaint trash" }); marker.setMap(map);

var myLatLng = new google.maps.LatLng(39.164862, -84.533874); var marker = new google.maps.Marker({ position: myLatLng, title: "Service complaint trash" }); marker.setMap(map);

var myLatLng = new google.maps.LatLng(39.1886226, -84.5104683); var marker = new google.maps.Marker({ position: myLatLng, title: "Service complaint trash" }); marker.setMap(map);

var myLatLng = new google.maps.LatLng(39.197015, -84.53203); var marker = new google.maps.Marker({ position: myLatLng, title: "Service complaint trash" }); marker.setMap(map);

var myLatLng = new google.maps.LatLng(39.14353, -84.5690709); var marker = new google.maps.Marker({ position: myLatLng, title: "Service complaint trash" }); marker.setMap(map);

var myLatLng = new google.maps.LatLng(39.187327, -84.5145907); var marker = new google.maps.Marker({ position: myLatLng, title: "Service complaint trash" }); marker.setMap(map);

var myLatLng = new google.maps.LatLng(39.13866, -84.466063); var marker = new google.maps.Marker({ position: myLatLng, title: "Service complaint trash" }); marker.setMap(map);

var myLatLng = new google.maps.LatLng(39.174576, -84.465209); var marker = new google.maps.Marker({ position: myLatLng, title: "Service complaint trash" }); marker.setMap(map);

var myLatLng = new google.maps.LatLng(39.199177, -84.475998); var marker = new google.maps.Marker({ position: myLatLng, title: "Service complaint trash" }); marker.setMap(map);

var myLatLng = new google.maps.LatLng(39.142472, -84.562472); var marker = new google.maps.Marker({ position: myLatLng, title: "Service complaint trash" }); marker.setMap(map);

var myLatLng = new google.maps.LatLng(39.101783, -84.562372); var marker = new google.maps.Marker({ position: myLatLng, title: "Service complaint trash" }); marker.setMap(map);

var myLatLng = new google.maps.LatLng(39.168304, -84.5172149); var marker = new google.maps.Marker({ position: myLatLng, title: "Service complaint trash" }); marker.setMap(map);

var myLatLng = new google.maps.LatLng(39.163391, -84.534199); var marker = new google.maps.Marker({ position: myLatLng, title: "Service complaint trash" }); marker.setMap(map);

var myLatLng = new google.maps.LatLng(39.166382, -84.536774); var marker = new google.maps.Marker({ position: myLatLng, title: "Service compliment trash" }); marker.setMap(map);

var myLatLng = new google.maps.LatLng(39.187156, -84.405306); var marker = new google.maps.Marker({ position: myLatLng, title: "Service complaint trash" }); marker.setMap(map);

var myLatLng = new google.maps.LatLng(39.155238, -84.503298); var marker = new google.maps.Marker({ position: myLatLng, title: "Service complaint trash" }); marker.setMap(map);

var myLatLng = new google.maps.LatLng(39.1133963, -84.5107081); var marker = new google.maps.Marker({ position: myLatLng, title: "Service complaint trash" }); marker.setMap(map);
      }
      google.maps.event.addDomListener(window, 'load', initialize);
    </script>
  </head>
  <body>
    <div id="map-canvas"/>
  </body>
</html>
