{% extends "template1.html" %}

{% block title %} - RSS Feeds{% endblock %}

{% block js_ready %}
	<script>
		$(document).ready(function () {
      		odp.getTags();
			odp.setupSearchInput();
		});
	</script>
{% endblock %}

{% block center_container %}
<h1 id="title">RSS Feeds</h1>
<h2 id="description">Subscribe to our RSS feeds to learn when new content is added to OpenDataCincy.org.</h2>
<div class="resource " style="line-height:25px;">
    <div><a href="{% url 'resources-feed' %}"><img src="/static/images/icon_rss.png" alt="RSS" /></a> <a href="{% url 'resources-feed' %}">All Resources</a></div>
    <div><a href="{% url 'ideas-feed' %}"><img src="/static/images/icon_rss.png" alt="RSS" /></a> <a href="{% url 'ideas-feed' %}">All Ideas</a> </div>
    <div><a href="{% url 'updates-feed' %}"><img src="/static/images/icon_rss.png" alt="RSS" /></a> <a href="{% url 'updates-feed' %}">Recently Updated Resources</a> </div>
    <div>&nbsp;</div>
    <div>Tagged Resources: </div>
    {% for tag in tags %}
        <div style="padding-left:10px;"><a href="{% url 'tag-feed' tag.id %}"><img src="/static/images/icon_rss.png" alt="RSS" /></a> <a href="{% url 'tag-feed' tag.id %}">{{tag.tag_name}}</a></div>
    {% endfor %}
</div>

{% endblock %}
